body {
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
}

header {
  color: #fff;
  padding: 33px 0 25px 15px;
}
.user{
  background: rgb(196, 255, 250);
  border-radius: 20px 20px;
}

header p {
  width: 400px;
  margin: 0 auto;
}
header .wrapper {
  display: flex;
  justify-content: space-between;
}

header h1 {
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 0.3px;
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  
}

.fa {
  font-size: 22px;
  transform: translateY(50deg);  
}

header i {
  vertical-align: middle;
  margin-left: 12px;
}

.container {
  display: grid;
  grid-template: 60% 40%/ 100% ;
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 30px;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  
}

.add-item {
  display: grid;
  grid-column: 1/span 1 ;
  grid-row: 1 /span 1  ;
  border-radius: 20px;
  border-top: 5px solid rgb(32, 223, 143);
  
  padding: 60px 18px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12), 0 1px 8px 0 rgba(0,0,0,.2);
  height: 900px;
  margin-left: 22%;
  margin-right:40%;
  width: 60%;
  margin-bottom:  10vh;
  
}



.display-item {
  display: grid;
  background:url();
  grid-column: 1/span 1 ;
  grid-row: 2 /span 1  ;
  align-content: center;
  justify-self: center;
  width: 150%; 
  
}

.display-item button {
  margin-top: 20px;

  display: block;
}

.add-item form {
  width: 100%;
  overflow: hidden;
  display: grid;
  justify-items: center;
}

input {
  font-size: 22px;
  color: #000;
  padding: 18px 22px;
  font-size: 16px;
  margin-bottom: 17px;
  border: 0;
  display: block;
  width: 100%;  
}

ul {
  display: grid;
  justify-items: center;
  
  display: grid;
  grid-gap: 20px 0;
 margin-left: 60px ;
}

li {
  display: grid;
  
  width: 100%;
  list-style-type: none;
  margin-right: 50px;
  background-color: rgb(237, 237, 237);
  color: #000;

  box-shadow: 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12), 0 1px 8px 0 rgba(0,0,0,.2);
  border-radius: 30px ;
}

h2 {
  padding: 0;
  margin: 0;
  font-weight: 400;
}

li h3 {
  background-color: rgb(252, 101, 90);
  margin: 0;
  color: #fff;
  font-weight: 300;
  padding: 15px;
  border-radius: 20px;
}

li p {
  padding: 15px;

}

form button {
  width: 100%;
  margin-top: 10px;
}

button {
  border-radius: 10px;
 
}

.user-profile {
  position: fixed;
  bottom: 20px;
  right: 40px;
  width: 100px;
  height: 100px;
}

.user-profile img {
  border-radius: 50%;
  max-width: 100%;
}


.NoConnected{
  display:  grid;
  color :black;
  margin-top:  40vh;
  width: 40vw ; 
 
  margin-left: 35vw 
}